@using Topic.WebUI.Dtos.BlogDtos
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ResultBlogDto>
@{
    ViewData["Title"] = "GetBlogsByCategory";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Default/Index">Ana Sayfa</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Bloglar</li>
                    </ol>
                </nav>

                <h2 class="text-white">Bloglar</h2>
            </div>

        </div>
    </div>
</header>


<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h3 class="mb-4">Blog Listesi</h3>
            </div>

            <div class="col-lg-8 col-12 mt-3 mx-auto">
                @foreach (var item in Model)
                {
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex">
                            <img src="@item.Image1" class="custom-block-image img-fluid" alt="">

                            <div class="custom-block-topics-listing-info d-flex">
                                <div>
                                    <h5 class="mb-2">@item.Title</h5>

                                    <p class="mb-0">@item.ShortDescription</p>

                                    <a href="/Blog/GetBlogsDetails/@item.BlogID" class="btn custom-btn mt-3 mt-lg-4">Detay</a>
                                </div>

                           
                            </div>
                        </div>
                    </div>
                }
                

             
            </div>

            <div class="col-lg-12 col-12">
                <nav aria-label="Page navigation example">
                    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("GetBlogsByCategory", new { pageNumber }), new PagedListRenderOptions
               {
                   LiElementClasses = new List<string> { "page-link" },
                   UlElementClasses = new List<string> { "pagination justify-content-center mb-0" }
               })

                </nav>
            </div>

        </div>
    </div>
</section>

