<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                        <p class="mb-2 text-md-center text-lg-left">Blog Sayısı</p>
                        <h1 class="mb-0">@ViewBag.BlogCount</h1>
                    </div>
                    <i class="typcn typcn-briefcase icon-xl text-secondary"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                        <p class="mb-2 text-md-center text-lg-left">Kategori Sayısı</p>
                        <h1 class="mb-0">@ViewBag.AllCategoryCount</h1>
                    </div>
                    <i class="typcn typcn-chart-pie icon-xl text-secondary"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                        <p class="mb-2 text-md-center text-lg-left">Aktif Kategori Sayısı</p>
                        <h1 class="mb-0">@ViewBag.ActiveCategoryCount</h1>
                    </div>
                    <i class="typcn typcn-clipboard icon-xl text-secondary"></i>
                </div>

            </div>
        </div>
    </div>
</div>