@model UpdateBlogDto
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Blog Alanı</h4>
            <p class="card-description">
                Blog Güncelleme Sayfası
            </p>
            <form class="forms-sample" method="post">
                <input type="hidden" class="form-control" asp-for="BlogID">
                <div class="form-group">
                    <label>Blog Adı</label>
                    <input type="text" class="form-control" asp-for="Title">
                </div>
                <div class="form-group">
                    <label>Kategori Seçiniz</label>
                    <select asp-for="CategoryID" asp-items="@ViewBag.Categories" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label>Kapak Görseli</label>
                    <input type="text" class="form-control" asp-for="CoverImageUrl">
                </div>
                <div class="form-group">
                    <label>Blog Resim 1</label>
                    <input type="text" class="form-control" asp-for="Image1">
                </div>
                <div class="form-group">
                    <label>Blog Resim 2</label>
                    <input type="text" class="form-control" asp-for="Image2">
                </div>
                <div class="form-group">
                    <label>Kısa Açıkama</label>
                    <input type="text" class="form-control" asp-for="ShortDescription">
                </div>
                <div class="form-group">
                    <label>Kısa Açıkama</label>
                    <textarea rows="5" class="form-control" asp-for="LongDescription"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>




