
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Topic Listing Bootstrap 5 Template</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <link href="~/Templates/TopicListing-1.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Templates/TopicListing-1.0.0/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/Templates/TopicListing-1.0.0/css/templatemo-topic-listing.css" rel="stylesheet">
    <!--

    TemplateMo 590 topic listing

    https://templatemo.com/tm-590-topic-listing

    -->
</head>

<body id="top">

    <main>

        <nav class="navbar navbar-expand-lg" >
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <i class="bi-back"></i>
                    <span>Topic Blog</span>
                </a>

                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/Default/Index">Ana Sayfa</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/Blog/Index">Bloglar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/Category/Index">Kategoriler</a>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()
        
    </main>

    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="/Default/Index">
                        <i class="bi-back"></i>
                        <span>Topic Blog</span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Linkler</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="/Default/Index" class="site-footer-link">Ana Sayfa</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="/Category/Index" class="site-footer-link">Kategoriler</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="/Blog/Index" class="site-footer-link">Bloglar</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">İletişim</h6>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                   
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Thai</button></li>

                            <li><button class="dropdown-item" type="button">Myanmar</button></li>

                            <li><button class="dropdown-item" type="button">Arabic</button></li>
                        </ul>
                    </div>

                    <p class="copyright-text mt-lg-5 mt-4">
                        Tüm hakları saklıdır © @DateTime.Now.Year 
                    </p>

                </div>

            </div>
        </div>
    </footer>


    <!-- JAVASCRIPT FILES -->
   
    <script src="~/Templates/TopicListing-1.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/TopicListing-1.0.0/js/jquery.sticky.js"></script>
    <script src="~/Templates/TopicListing-1.0.0/js/click-scroll.js"></script>
    <script src="~/Templates/TopicListing-1.0.0/js/custom.js"></script>

</body>
</html>
